<p class="text-center text-muted" id="DynamicFooter"></p>

<script>
    let ts = Date.now();
    let date_ob = new Date(ts);
    let year = date_ob.getFullYear();
    let footer = document.getElementById('DynamicFooter');
    footer.innerText = "Harry Vince - "+year;

    var clockElement = document.getElementById('clock');

    function clock() {
        clockElement.textContent = new Date().toLocaleTimeString().toString();
    }

    setInterval(clock, 1000);
</script>